.container {
  padding: 50px;
}
button {
  color: #666666;
  padding: 20px;
  margin: 20px;
  font-size: 16px;
  background-color: #e1e1e1;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.bon1:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 5px lightgray;
     -moz-box-shadow: 0 0 5px 5px lightgray;
          box-shadow: 0 0 5px 5px lightgray;
}
.bon2:hover {
  -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
       -o-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.bon3:hover {
  -webkit-animation: bon3 0.8s linear infinite;
     -moz-animation: bon3 0.8s linear infinite;
       -o-animation: bon3 0.8s linear infinite;
          animation: bon3 0.8s linear infinite;
}
@-webkit-keyframes bon3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-moz-keyframes bon3 {
  0% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
  25% {
    -moz-transform: scale(1.1);
         transform: scale(1.1);
  }
  50% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
  75% {
    -moz-transform: scale(0.9);
         transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
}
@-o-keyframes bon3 {
  0% {
    -o-transform: scale(1);
       transform: scale(1);
  }
  25% {
    -o-transform: scale(1.1);
       transform: scale(1.1);
  }
  50% {
    -o-transform: scale(1);
       transform: scale(1);
  }
  75% {
    -o-transform: scale(0.9);
       transform: scale(0.9);
  }
  100% {
    -o-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes bon3 {
  0% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
         -o-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
.bon4:hover {
  -webkit-animation: bon4 0.8s linear infinite;
     -moz-animation: bon4 0.8s linear infinite;
       -o-animation: bon4 0.8s linear infinite;
          animation: bon4 0.8s linear infinite;
}
@-webkit-keyframes bon4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-moz-keyframes bon4 {
  0% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
         transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
}
@-o-keyframes bon4 {
  0% {
    -o-transform: scale(1);
       transform: scale(1);
  }
  50% {
    -o-transform: scale(1.2);
       transform: scale(1.2);
  }
  100% {
    -o-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes bon4 {
  0% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
.bon5:hover {
  -webkit-animation: bon5 0.8s linear infinite;
     -moz-animation: bon5 0.8s linear infinite;
       -o-animation: bon5 0.8s linear infinite;
          animation: bon5 0.8s linear infinite;
}
@-webkit-keyframes bon5 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-moz-keyframes bon5 {
  0% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
         transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
}
@-o-keyframes bon5 {
  0% {
    -o-transform: scale(1);
       transform: scale(1);
  }
  50% {
    -o-transform: scale(0.8);
       transform: scale(0.8);
  }
  100% {
    -o-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes bon5 {
  0% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
.bon6:hover {
  -webkit-animation: bon6 0.5s ease-in;
     -moz-animation: bon6 0.5s ease-in;
       -o-animation: bon6 0.5s ease-in;
          animation: bon6 0.5s ease-in;
}
@-webkit-keyframes bon6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-moz-keyframes bon6 {
  0% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
  90% {
    -moz-transform: scale(0.8);
         transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
}
@-o-keyframes bon6 {
  0% {
    -o-transform: scale(1);
       transform: scale(1);
  }
  90% {
    -o-transform: scale(0.8);
       transform: scale(0.8);
  }
  100% {
    -o-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes bon6 {
  0% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
.bon7:hover {
  -webkit-animation: bon7 0.3s ease-in;
     -moz-animation: bon7 0.3s ease-in;
       -o-animation: bon7 0.3s ease-in;
          animation: bon7 0.3s ease-in;
}
@-webkit-keyframes bon7 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-moz-keyframes bon7 {
  0% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
  70% {
    -moz-transform: scale(1.2);
         transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
}
@-o-keyframes bon7 {
  0% {
    -o-transform: scale(1);
       transform: scale(1);
  }
  70% {
    -o-transform: scale(1.2);
       transform: scale(1.2);
  }
  100% {
    -o-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes bon7 {
  0% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
.bon8:hover {
  -webkit-animation: bon8 0.8s linear forwards;
     -moz-animation: bon8 0.8s linear forwards;
       -o-animation: bon8 0.8s linear forwards;
          animation: bon8 0.8s linear forwards;
}
@-webkit-keyframes bon8 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-moz-keyframes bon8 {
  0% {
    -moz-transform: scale(1);
         transform: scale(1);
  }
  20% {
    -moz-transform: scale(1.2);
         transform: scale(1.2);
  }
  40% {
    -moz-transform: scale(1.1);
         transform: scale(1.1);
  }
  60% {
    -moz-transform: scale(1.2);
         transform: scale(1.2);
  }
  80% {
    -moz-transform: scale(1.1);
         transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1.2);
         transform: scale(1.2);
  }
}
@-o-keyframes bon8 {
  0% {
    -o-transform: scale(1);
       transform: scale(1);
  }
  20% {
    -o-transform: scale(1.2);
       transform: scale(1.2);
  }
  40% {
    -o-transform: scale(1.1);
       transform: scale(1.1);
  }
  60% {
    -o-transform: scale(1.2);
       transform: scale(1.2);
  }
  80% {
    -o-transform: scale(1.1);
       transform: scale(1.1);
  }
  100% {
    -o-transform: scale(1.2);
       transform: scale(1.2);
  }
}
@keyframes bon8 {
  0% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.bon9:hover {
  -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
       -o-transform: rotate(5deg);
          transform: rotate(5deg);
}
.bon10:hover {
  -webkit-transform: rotate(5deg) scale(1.3);
     -moz-transform: rotate(5deg) scale(1.3);
      -ms-transform: rotate(5deg) scale(1.3);
       -o-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
}
.bon11:hover {
  -webkit-transform: translateY(-20px);
     -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
       -o-transform: translateY(-20px);
          transform: translateY(-20px);
}
.bon12:hover {
  -webkit-animation: bon12-move 1.5s 0.3s ease-in-out infinite alternate, bon12-float 0.3s ease-out;
     -moz-animation: bon12-move 1.5s 0.3s ease-in-out infinite alternate, bon12-float 0.3s ease-out;
       -o-animation: bon12-move 1.5s 0.3s ease-in-out infinite alternate, bon12-float 0.3s ease-out;
          animation: bon12-move 1.5s 0.3s ease-in-out infinite alternate, bon12-float 0.3s ease-out;
}
@-webkit-keyframes bon12-move {
  0% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
@-moz-keyframes bon12-move {
  0% {
    -moz-transform: translateY(-8px);
         transform: translateY(-8px);
  }
  50% {
    -moz-transform: translateY(-4px);
         transform: translateY(-4px);
  }
  100% {
    -moz-transform: translateY(-8px);
         transform: translateY(-8px);
  }
}
@-o-keyframes bon12-move {
  0% {
    -o-transform: translateY(-8px);
       transform: translateY(-8px);
  }
  50% {
    -o-transform: translateY(-4px);
       transform: translateY(-4px);
  }
  100% {
    -o-transform: translateY(-8px);
       transform: translateY(-8px);
  }
}
@keyframes bon12-move {
  0% {
    -webkit-transform: translateY(-8px);
       -moz-transform: translateY(-8px);
         -o-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
       -moz-transform: translateY(-4px);
         -o-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
       -moz-transform: translateY(-8px);
         -o-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
@-webkit-keyframes bon12-float {
  100% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
@-moz-keyframes bon12-float {
  100% {
    -moz-transform: translateY(-8px);
         transform: translateY(-8px);
  }
}
@-o-keyframes bon12-float {
  100% {
    -o-transform: translateY(-8px);
       transform: translateY(-8px);
  }
}
@keyframes bon12-float {
  100% {
    -webkit-transform: translateY(-8px);
       -moz-transform: translateY(-8px);
         -o-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
.bon13:hover {
  -webkit-transform: skewY(-5deg);
     -moz-transform: skewY(-5deg);
      -ms-transform: skewY(-5deg);
       -o-transform: skewY(-5deg);
          transform: skewY(-5deg);
}
.bon14 {
  -webkit-transform-origin: bottom center;
     -moz-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
       -o-transform-origin: bottom center;
          transform-origin: bottom center;
}
.bon14:hover {
  -webkit-transform: skewX(-10deg);
     -moz-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
       -o-transform: skewX(-10deg);
          transform: skewX(-10deg);
}
.bon15:hover {
  -webkit-animation: bon15 1s linear;
     -moz-animation: bon15 1s linear;
       -o-animation: bon15 1s linear;
          animation: bon15 1s linear;
}
@-webkit-keyframes bon15 {
  0% {
    -webkit-transform: translateX(0PX);
            transform: translateX(0PX);
  }
  20% {
    -webkit-transform: translateX(10PX);
            transform: translateX(10PX);
  }
  40% {
    -webkit-transform: translateX(-10PX);
            transform: translateX(-10PX);
  }
  60% {
    -webkit-transform: translateX(5PX);
            transform: translateX(5PX);
  }
  80% {
    -webkit-transform: translateX(-5PX);
            transform: translateX(-5PX);
  }
  100% {
    -webkit-transform: translateX(0PX);
            transform: translateX(0PX);
  }
}
@-moz-keyframes bon15 {
  0% {
    -moz-transform: translateX(0PX);
         transform: translateX(0PX);
  }
  20% {
    -moz-transform: translateX(10PX);
         transform: translateX(10PX);
  }
  40% {
    -moz-transform: translateX(-10PX);
         transform: translateX(-10PX);
  }
  60% {
    -moz-transform: translateX(5PX);
         transform: translateX(5PX);
  }
  80% {
    -moz-transform: translateX(-5PX);
         transform: translateX(-5PX);
  }
  100% {
    -moz-transform: translateX(0PX);
         transform: translateX(0PX);
  }
}
@-o-keyframes bon15 {
  0% {
    -o-transform: translateX(0PX);
       transform: translateX(0PX);
  }
  20% {
    -o-transform: translateX(10PX);
       transform: translateX(10PX);
  }
  40% {
    -o-transform: translateX(-10PX);
       transform: translateX(-10PX);
  }
  60% {
    -o-transform: translateX(5PX);
       transform: translateX(5PX);
  }
  80% {
    -o-transform: translateX(-5PX);
       transform: translateX(-5PX);
  }
  100% {
    -o-transform: translateX(0PX);
       transform: translateX(0PX);
  }
}
@keyframes bon15 {
  0% {
    -webkit-transform: translateX(0PX);
       -moz-transform: translateX(0PX);
         -o-transform: translateX(0PX);
            transform: translateX(0PX);
  }
  20% {
    -webkit-transform: translateX(10PX);
       -moz-transform: translateX(10PX);
         -o-transform: translateX(10PX);
            transform: translateX(10PX);
  }
  40% {
    -webkit-transform: translateX(-10PX);
       -moz-transform: translateX(-10PX);
         -o-transform: translateX(-10PX);
            transform: translateX(-10PX);
  }
  60% {
    -webkit-transform: translateX(5PX);
       -moz-transform: translateX(5PX);
         -o-transform: translateX(5PX);
            transform: translateX(5PX);
  }
  80% {
    -webkit-transform: translateX(-5PX);
       -moz-transform: translateX(-5PX);
         -o-transform: translateX(-5PX);
            transform: translateX(-5PX);
  }
  100% {
    -webkit-transform: translateX(0PX);
       -moz-transform: translateX(0PX);
         -o-transform: translateX(0PX);
            transform: translateX(0PX);
  }
}
.bon16:hover {
  -webkit-animation: bon16 1s linear;
     -moz-animation: bon16 1s linear;
       -o-animation: bon16 1s linear;
          animation: bon16 1s linear;
  -webkit-transform: translateZ(10px);
     -moz-transform: translateZ(10px);
          transform: translateZ(10px);
}
@-webkit-keyframes bon16 {
  0% {
    /* transform: translateZ(); */
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
  20% {
    -webkit-transform: translateX(10px) translateY(10px);
            transform: translateX(10px) translateY(10px);
  }
  40% {
    -webkit-transform: translateX(-10px) translateY(-10px);
            transform: translateX(-10px) translateY(-10px);
  }
  60% {
    -webkit-transform: translateX(5px) translateY(5px);
            transform: translateX(5px) translateY(5px);
  }
  80% {
    -webkit-transform: translateX(-5px) translateY(-5px);
            transform: translateX(-5px) translateY(-5px);
  }
  100% {
    -webkit-transform: translateX(0px) translateX(10px);
            transform: translateX(0px) translateX(10px);
  }
}
@-moz-keyframes bon16 {
  0% {
    /* transform: translateZ(); */
    -moz-transform: translateX(0px) translateY(0px);
         transform: translateX(0px) translateY(0px);
  }
  20% {
    -moz-transform: translateX(10px) translateY(10px);
         transform: translateX(10px) translateY(10px);
  }
  40% {
    -moz-transform: translateX(-10px) translateY(-10px);
         transform: translateX(-10px) translateY(-10px);
  }
  60% {
    -moz-transform: translateX(5px) translateY(5px);
         transform: translateX(5px) translateY(5px);
  }
  80% {
    -moz-transform: translateX(-5px) translateY(-5px);
         transform: translateX(-5px) translateY(-5px);
  }
  100% {
    -moz-transform: translateX(0px) translateX(10px);
         transform: translateX(0px) translateX(10px);
  }
}
@-o-keyframes bon16 {
  0% {
    /* transform: translateZ(); */
    -o-transform: translateX(0px) translateY(0px);
       transform: translateX(0px) translateY(0px);
  }
  20% {
    -o-transform: translateX(10px) translateY(10px);
       transform: translateX(10px) translateY(10px);
  }
  40% {
    -o-transform: translateX(-10px) translateY(-10px);
       transform: translateX(-10px) translateY(-10px);
  }
  60% {
    -o-transform: translateX(5px) translateY(5px);
       transform: translateX(5px) translateY(5px);
  }
  80% {
    -o-transform: translateX(-5px) translateY(-5px);
       transform: translateX(-5px) translateY(-5px);
  }
  100% {
    -o-transform: translateX(0px) translateX(10px);
       transform: translateX(0px) translateX(10px);
  }
}
@keyframes bon16 {
  0% {
    /* transform: translateZ(); */
    -webkit-transform: translateX(0px) translateY(0px);
       -moz-transform: translateX(0px) translateY(0px);
         -o-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
  20% {
    -webkit-transform: translateX(10px) translateY(10px);
       -moz-transform: translateX(10px) translateY(10px);
         -o-transform: translateX(10px) translateY(10px);
            transform: translateX(10px) translateY(10px);
  }
  40% {
    -webkit-transform: translateX(-10px) translateY(-10px);
       -moz-transform: translateX(-10px) translateY(-10px);
         -o-transform: translateX(-10px) translateY(-10px);
            transform: translateX(-10px) translateY(-10px);
  }
  60% {
    -webkit-transform: translateX(5px) translateY(5px);
       -moz-transform: translateX(5px) translateY(5px);
         -o-transform: translateX(5px) translateY(5px);
            transform: translateX(5px) translateY(5px);
  }
  80% {
    -webkit-transform: translateX(-5px) translateY(-5px);
       -moz-transform: translateX(-5px) translateY(-5px);
         -o-transform: translateX(-5px) translateY(-5px);
            transform: translateX(-5px) translateY(-5px);
  }
  100% {
    -webkit-transform: translateX(0px) translateX(10px);
       -moz-transform: translateX(0px) translateX(10px);
         -o-transform: translateX(0px) translateX(10px);
            transform: translateX(0px) translateX(10px);
  }
}
.bon17:hover {
  -webkit-animation: bon17 0.4s linear infinite alternate;
     -moz-animation: bon17 0.4s linear infinite alternate;
       -o-animation: bon17 0.4s linear infinite alternate;
          animation: bon17 0.4s linear infinite alternate;
}
@-webkit-keyframes bon17 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  60% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-moz-keyframes bon17 {
  0% {
    -moz-transform: rotate(0);
         transform: rotate(0);
  }
  20% {
    -moz-transform: rotate(4deg);
         transform: rotate(4deg);
  }
  40% {
    -moz-transform: rotate(-4deg);
         transform: rotate(-4deg);
  }
  60% {
    -moz-transform: rotate(4deg);
         transform: rotate(4deg);
  }
  80% {
    -moz-transform: rotate(-4deg);
         transform: rotate(-4deg);
  }
  100% {
    -moz-transform: rotate(0);
         transform: rotate(0);
  }
}
@-o-keyframes bon17 {
  0% {
    -o-transform: rotate(0);
       transform: rotate(0);
  }
  20% {
    -o-transform: rotate(4deg);
       transform: rotate(4deg);
  }
  40% {
    -o-transform: rotate(-4deg);
       transform: rotate(-4deg);
  }
  60% {
    -o-transform: rotate(4deg);
       transform: rotate(4deg);
  }
  80% {
    -o-transform: rotate(-4deg);
       transform: rotate(-4deg);
  }
  100% {
    -o-transform: rotate(0);
       transform: rotate(0);
  }
}
@keyframes bon17 {
  0% {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(4deg);
       -moz-transform: rotate(4deg);
         -o-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
         -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  60% {
    -webkit-transform: rotate(4deg);
       -moz-transform: rotate(4deg);
         -o-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
         -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
}
.bon18:hover {
  -webkit-animation: bon18 0.4s linear;
     -moz-animation: bon18 0.4s linear;
       -o-animation: bon18 0.4s linear;
          animation: bon18 0.4s linear;
}
@-webkit-keyframes bon18 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  60% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-moz-keyframes bon18 {
  0% {
    -moz-transform: rotate(0);
         transform: rotate(0);
  }
  20% {
    -moz-transform: rotate(4deg);
         transform: rotate(4deg);
  }
  40% {
    -moz-transform: rotate(-4deg);
         transform: rotate(-4deg);
  }
  60% {
    -moz-transform: rotate(4deg);
         transform: rotate(4deg);
  }
  80% {
    -moz-transform: rotate(-4deg);
         transform: rotate(-4deg);
  }
  100% {
    -moz-transform: rotate(0);
         transform: rotate(0);
  }
}
@-o-keyframes bon18 {
  0% {
    -o-transform: rotate(0);
       transform: rotate(0);
  }
  20% {
    -o-transform: rotate(4deg);
       transform: rotate(4deg);
  }
  40% {
    -o-transform: rotate(-4deg);
       transform: rotate(-4deg);
  }
  60% {
    -o-transform: rotate(4deg);
       transform: rotate(4deg);
  }
  80% {
    -o-transform: rotate(-4deg);
       transform: rotate(-4deg);
  }
  100% {
    -o-transform: rotate(0);
       transform: rotate(0);
  }
}
@keyframes bon18 {
  0% {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(4deg);
       -moz-transform: rotate(4deg);
         -o-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
         -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  60% {
    -webkit-transform: rotate(4deg);
       -moz-transform: rotate(4deg);
         -o-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
         -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
}
.bon19 {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon19:hover {
  background-color: #2b9dd3;
  color: white;
  -webkit-animation: bon19 0.8s linear 0.5s infinite;
     -moz-animation: bon19 0.8s linear 0.5s infinite;
       -o-animation: bon19 0.8s linear 0.5s infinite;
          animation: bon19 0.8s linear 0.5s infinite;
}
@-webkit-keyframes bon19 {
  0% {
    background-color: #2b9dd3;
  }
  50% {
    background-color: #50aedb;
  }
  100% {
    background-color: #2b9dd3;
  }
}
@-moz-keyframes bon19 {
  0% {
    background-color: #2b9dd3;
  }
  50% {
    background-color: #50aedb;
  }
  100% {
    background-color: #2b9dd3;
  }
}
@-o-keyframes bon19 {
  0% {
    background-color: #2b9dd3;
  }
  50% {
    background-color: #50aedb;
  }
  100% {
    background-color: #2b9dd3;
  }
}
@keyframes bon19 {
  0% {
    background-color: #2b9dd3;
  }
  50% {
    background-color: #50aedb;
  }
  100% {
    background-color: #2b9dd3;
  }
}
.bon20 {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  z-index: 1;
}
.bon20::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  -moz-transition: all 1s linear;
  transition: all 1s linear;
}
.bon20:hover {
  color: white;
}
.bon20:hover::before {
  width: 100%;
}
.bon21 {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  z-index: 1;
}
.bon21::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -o-transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition: all 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.bon21:hover {
  color: white;
}
.bon21:hover::before {
  width: 100%;
}
.bon22 {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.bon22::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon22:hover {
  color: white;
}
.bon22:hover::before {
  -webkit-transform: scale(2);
     -moz-transform: scale(2);
      -ms-transform: scale(2);
       -o-transform: scale(2);
          transform: scale(2);
  width: 100%;
}
.bon23 {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  background: #2098D1;
  z-index: 1;
  overflow: hidden;
}
.bon23::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  -webkit-transform: scale(2);
     -moz-transform: scale(2);
      -ms-transform: scale(2);
       -o-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon23:hover {
  color: white;
}
.bon23:hover::before {
  background: #e1e1e1;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
}
.bon24 {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  background: #2098D1;
  z-index: 1;
  overflow: hidden;
}
.bon24::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  -webkit-transform: scale(2);
     -moz-transform: scale(2);
      -ms-transform: scale(2);
       -o-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon24:hover {
  color: white;
}
.bon24:hover::before {
  background: #e1e1e1;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
}
.bon25 {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.bon25::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon25:hover {
  color: white;
}
.bon25:hover::before {
  background: #2098D1;
  -webkit-transform: scale(2);
     -moz-transform: scale(2);
      -ms-transform: scale(2);
       -o-transform: scale(2);
          transform: scale(2);
}
.bon26 {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.bon26::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon26::after {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon26:hover {
  color: white;
}
.bon26:hover::before {
  width: 50%;
}
.bon26:hover::after {
  width: 50%;
}
.bon27 {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.bon27::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  left: 50%;
  height: 100%;
  width: 0%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon27::after {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  right: 50%;
  height: 100%;
  width: 0%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon27:hover {
  color: white;
}
.bon27:hover::before {
  width: 50%;
}
.bon27:hover::after {
  width: 50%;
}
.bon28 {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  border: 4px solid #e1e1e1;
}
.bon28:hover {
  border: 4px solid #2098d1;
}
.bon29 {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  border: 4px solid #e1e1e1;
}
.bon29:hover {
  background-color: #ffffff;
}
.bon30 {
  position: relative;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  border: 4px solid #e1e1e1;
}
.bon30::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  z-index: 0;
  border: 4px solid white;
  opacity: 0;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.bon30:hover {
  background-color: #e1e1e1;
}
.bon30:hover::before {
  opacity: 1;
}
.bon31 {
  position: relative;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  border: 4px solid #e1e1e1;
}
.bon31::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  border: 10px solid #e1e1e1;
  opacity: 1;
  background-color: transparent;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}
.bon31:hover {
  background-color: #e1e1e1;
}
.bon31:hover::before {
  -webkit-animation: bon31 0.5s linear;
     -moz-animation: bon31 0.5s linear;
       -o-animation: bon31 0.5s linear;
          animation: bon31 0.5s linear;
}
@-webkit-keyframes bon31 {
  100% {
    opacity: 0;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
  }
}
@-moz-keyframes bon31 {
  100% {
    opacity: 0;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
  }
}
@-o-keyframes bon31 {
  100% {
    opacity: 0;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
  }
}
@keyframes bon31 {
  100% {
    opacity: 0;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
  }
}
.bon32 {
  position: relative;
  border: 4px solid #e1e1e1;
}
.bon32::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: 0;
  border: 10px solid #e1e1e1;
  opacity: 0;
  background-color: transparent;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}
.bon32:hover {
  background-color: #e1e1e1;
}
.bon32:hover::before {
  -webkit-animation: bon32 0.5s linear;
     -moz-animation: bon32 0.5s linear;
       -o-animation: bon32 0.5s linear;
          animation: bon32 0.5s linear;
}
@-webkit-keyframes bon32 {
  100% {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@-moz-keyframes bon32 {
  100% {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@-o-keyframes bon32 {
  100% {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@keyframes bon32 {
  100% {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.bon33 {
  position: relative;
}
.bon33::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 6px;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  -moz-transition: all 1s linear;
  transition: all 1s linear;
}
.bon33:hover::before {
  width: 100%;
}
.bon34 {
  position: relative;
}
.bon34::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  z-index: 3;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 6px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon34::after {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  z-index: 3;
  bottom: 0;
  right: 50%;
  width: 0%;
  height: 6px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon34:hover::before {
  width: 50%;
}
.bon34:hover::after {
  width: 50%;
}
.bon35 {
  position: relative;
}
.bon35::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  bottom: 0;
  border-color: #2098D1;
  border-style: solid;
  border-width: 0;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon35:hover::before {
  border: 5px solid #2098d1;
}
.bon36:hover {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.bon37:hover {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.bon38 {
  overflow: visible;
  position: relative;
}
.bon38::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: -moz- oldradial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
}
.bon38:hover {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateY(-10px);
     -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
       -o-transform: translateY(-10px);
          transform: translateY(-10px);
}
.bon38:hover::before {
  opacity: 1;
}
.bon39:hover {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.bon40 {
  position: relative;
  overflow: visible;
}
.bon40::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  border-style: solid;
  left: -webkit-calc(50% - 10px);
  left: -moz-calc(50% - 10px);
  left: calc(50% - 10px);
  background-color: white;
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon40:hover::before {
  top: -10px;
}
.bon41 {
  position: relative;
  overflow: visible;
}
.bon41::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  border-style: solid;
  top: -webkit-calc(50%+10px);
  top: -moz-calc(50%+10px);
  top: calc(50%+10px);
  background-color: white;
  left: 0;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e1e1e1 transparent transparent;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.bon41:hover::before {
  left: -10px;
}
.bon42 {
  position: relative;
}
.bon42::before {
  content: "";
  position: absolute;
  background-color: #2098d1;
  z-index: -1;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background: -webkit-linear-gradient(315deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  background: -moz- oldlinear-gradient(315deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  background: -o-linear-gradient(315deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  background: linear-gradient(135deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
}
.bon42:hover::before {
  width: 25px;
  height: 25px;
}
/*# sourceMappingURL=./style.css.map */