*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.w{
	width: 1200px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.head{
	height: 40px;
	
}
/*导航栏上部分开始*/
/*腾讯LOGO	*/
.tencen{
	width: 220px;
	height: 40px;
	background: url(images/ost-bg.png) no-repeat;
	background-position: 0 -40px;
	margin-left: 100px;
	z-index: 125;
	position: absolute;
	/*position: absolute;*/

}
/*DNF广告*/
.jued{
	position: relative;
}
.dnf{
	width: 230px;
	height: 40px;
	z-index: 100;
	background:url(images/top1.jpg) no-repeat;
	position: absolute;
	left: 320px;	
	
}
.dnff{
	width: 970px;
	height: 185px;
	background: url(images/top2.jpg) no-repeat;
	position: absolute;
	display: none;
	z-index: 100;
	left: 100px;
}
.jued:hover .dnff{
	display: block;

}
/*腾讯游戏排行榜*/
.gametop{
	width: 117px;
	height: 40px;
	color: #896953;
	line-height: 40px;
	display: inline-block;
	margin-right: 115px;
	font-size: 12px;

}
.woxia{
	width: 10px;
	height: 10px;
	background: url(images/ost-bg.png) no-repeat;
	margin-left: 5px;
	background-position: -150px -133px;
	display: inline-block;

}
.phb{
	width: 772px;
	height: 511px;
	position: absolute;
	top:32px;
	right: 355px;
	display: none;
	z-index: 100;
	background: url(images/top3.png) no-repeat;

}
.gametop:hover .phb{
	display: block;
}
/*守护平台*/
.pt{
	width: 115px;
	height: 16px;
	margin-top: 12px;
	color: #896953;
	display: inline-block;
	
	font-size: 12px;
	margin-right: 30px;
}
.vigtop{
	vertical-align: middle;
	margin-right: 10px;
}
.pt:hover,.gametop:hover{
	color: red;
	
}
/*导航栏上部分结束*/
/*导航栏下部分开始*/

.nav{
	width: 100%;
	height: 84px;
	position: absolute;
	left: 0px;
	background: rgba(0,0,0,0.8);
	min-width: 1280px;

}
.navv{	
	height:100%;
	display: block;
	overflow: hidden;
}
/*王者LOGO*/
.wzlogo{
	width: 200px;
	height: 51px;
	margin-top: 15px;
	margin-right: 55px;
	background: url(images/logo.png);

}
/*王者内容引导栏*/
.navbom{
	width: 109px;
	
}
.SIZI{
	font-size: 18px;
	color: #b4bec7;
	padding-top: 25px;
	display: block;
	text-align: center;
}
.yinyu{
	font-size: 12px;
	padding-top: 10px;
	color: #7b766b;
	margin: auto;
	text-align: center;
	display: block;
}
.navbom:hover {
	width: 109px;
	height: 84px;
	background: url(images/index.png);
}
.denglu{
	width: 175px;
	margin-top: 20px;

}
.guanjun{
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 1px solid #f3c258;
}
.hyin{
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
	/*margin-top: 5px;*/
	height: 20px;
	display: inline-block;

}
.chakan{
	margin-left: 5px;
	font-size: 14px;
	color: #7f838f;
	height: 20px;
	/*margin-left: 8px;*/
	margin-top: 5px;
	/*margin-top: 12px;*/
}
/*王者内容下拉栏*/
.navvv{
	height: 283px;
	position: absolute;
	background-color: rgba(15,15,14,0.7);
	top: 84px;
	width: 100%;
	display: none;
	 padding-top: 15px;
    padding-bottom: 30px;
	left: 0px;	
}
.navvv>ul{
	width: 654px;
	height: 240px;
	padding-left: 185px;
}
.dowxx,.dowxx1{
	
	margin-top: 23px;

}
.navvv a{
	color: #c9c9dd;
	font-size: 12px;
}
.navvv>ul>li>ul>li{
	text-align: center;
	width: 109px;
}
.dowxx1{
	/*padding-left: 714px;*/
	color: #c9c9dd;
	line-height: 30px;
}
.dowxx{
	color: #c9c9dd;
	line-height: 30px;
}
.navvv a:hover{
	color: #9dbddd;
	text-decoration: underline;
}
.hot{
	width: 19px;
	height: 19px;
	background: url(images/index.png);
	background-position: -164px -70px;
	display: inline-block;
	vertical-align: middle;
}
.new{
	width: 19px;
	height: 19px;
	background: url(images/index.png);
	background-position: -140px -70px;
	display: inline-block;
	vertical-align: middle;
}
.zhang{
	width: 19px;
	height: 19px;
	background: url(images/index.png);
	background-position: -140px -8px;
	display: inline-block;
	vertical-align: middle;
}
.kang{
	width: 19px;
	height: 19px;
	background: url(images/index.png);
	background-position: -140px -38px;
	display: inline-block;
	vertical-align: middle;
}
.nav .w .navv:hover .navvv{
	display: block;
}
/*下半部分导航栏结束*/
/*banner层开始*/
/*banner层上半部分开始*/
.banner{
	background: url(images/main_bg.jpg)  center top no-repeat;
	
}
.banner .main{
	padding-top: 540px;
	height: 535px;

}
.banner .main .main-top{
	height: 342px;
	width: 100%;
	margin-bottom: 28px;
}
.banner .main .main-top .activity{
	width: 605px;
	height: 100%;
	
	float: left;
} 
.banner .main .main-top .activity img{
	vertical-align: bottom;
	border-right: 1px solid #33333a;
}
.banner .main .main-top .activity ul{
	width: 100%;
	height: 42px;
	background-color: #393a42;	
}
.banner .main .main-top .activity ul li{
	text-align: center;
	float: left;
	height: 42px;
	line-height: 42px;
}
.banner .main .main-top .activity ul li a{
	display: inline-block;
	color: #aba4a1;
	font-size: 14px;
	height: 100%;
	width: 121px;
}
.banner .main .main-top .activity ul li:first-child a{
	background-color: #57575e;
	color: #d29f5b;
}
.banner .main .main-top .activity ul li a:hover{
	background-color: #57575e;
	color: #d29f5b;
}
.banner .main .main-top .notice{
	width: 330px;
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	background-color: rgba(53,52,57,0.8);
	float: left;
}
.banner .main .main-top .notice .notice-top{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #000000; 
}
.banner .main .main-top .notice .notice-top li{
	float: left;
	text-align: center;
}
.banner .main .main-top .notice .notice-top li a{
	height: 50px;
	border-bottom: 4px solid #333236;
	width: 55px;
	line-height: 50px;
	display: inline-block;
	font-size: 14px;
	color: #b8b9aa;
}
.banner .main .main-top .notice .notice-top li:first-child a{
	color: #f3c258;
	border-bottom: 4px solid #f3c258;
}
.banner .main .main-top .notice .notice-top li:hover a{
	color: #f3c258;
	border-bottom: 4px solid #f3c258;
}
.banner .main .main-top .notice .gg{
	margin-top: 18px;
	background-color: #414046;
	width: 100%;
	height: 37px;
	font-size: 16px;
	line-height: 37px;
	color: #f3c258;
	text-align: center;
	
}
.banner .main .main-top .notice .notice-bom ul{
	height: 235px;
}
.banner .main .main-top .notice .notice-bom ul li{
	height: 34px;
	width: 100%;
	line-height: 34px;

}
.banner .main .main-top .notice .notice-bom ul li span{
	float: right;
	font-size:12px;
	width: 35px;
}
.banner .main .main-top .notice .notice-bom ul li a{
	width: 295px;
	font-size: 14px;
	display: inline-block;
	color: #b8b9c5;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}
.banner .main .main-top .notice .notice-bom ul li a:hover{
	text-decoration: underline;
}
.banner .main .main-top .dow {
	float: left;
	width: 235px;
	height: 342px;
}
.banner .main .main-top .dow .download a{
	display: block;
	width: 100%;
	height:128px;
	background: url(images/index.png); 
	background-position: 0 -219px;

}
.banner .main .main-top .dow .protect a{
	display: block;
	width: 100%;
	height:106px;
	background: url(images/index.png); 
	background-position: 0 -350px;

}
.banner .main .main-top .dow .experience a{
	display: block;
	width: 100%;
	height:108px;
	background: url(images/index.png); 
	background-position: 0 -461px;
}
}
/*banner上部分结束*/
/*banner下部分开始*/
.banner .main .main-bom{
	width: 100%;
	height:134px; 
}
.banner .main .main-bom .box1{
	width:291px;
	height: 134px;
	float: left;
	margin-right: 12px;
	background: url(images/官方爆料.jpg) no-repeat;
}
.banner .main .main-bom .box2{
	width:291px;
	height: 134px;
	float: left;
	margin-right: 12px;
	background: url(images/王者营地.jpg);
}
.banner .main .main-bom .box3{
	width:291px;
	height: 134px;
	float: left;
	margin-right: 12px;
	background: url(images/荣耀传承.jpg);
}
.banner .main .main-bom .box4{
	width:291px;
	height: 134px;
	float: left;
	background: url(images/赛事专区.jpg);
}
/*banner下部分结束*/
/*英雄介绍开始*/
.introduce{
	background: url(images/ny_con_bg.jpg) no-repeat center top #f8fafb;
	padding-top: 50px;
	padding-bottom: 50px;
}
.introduce .Hero-introduced{
	padding-bottom: 30px;
	color: #323235;
	font-size: 22px;
	font-weight: bold;
}
.introduce .Hero-introduced .helmet{
	display: inline-block;
	height: 24px;
	width: 17px;
	background: url(images/icon_hero.png) no-repeat;
	margin-right: 12px;
	vertical-align: middle;
}
/*英雄引导栏*/
.introduce .hero-guide ul{
	widows: 100%;
	height: 30px;
}
.introduce .hero-guide ul li{
	float: left;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.introduce .hero-guide ul li a{
	font-size: 18px;
	color: #5a5a5b;
	width: 400px;
	height: 37px;
	display: inline-block;
	border-bottom: 3px solid #d4d4d4;
	
}
.introduce .hero-guide ul li:first-child a{
	color: #3589dd;
	border-bottom: 3px solid #3589dd;
}
.introduce .hero-guide ul li a:hover{
	color: #3589dd;
	border-bottom: 3px solid #3589dd;
}
/*英雄引导栏结束*/

/*英雄详细栏上半部分开始*/
.introduce .hero-jiesao{
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 70px;
	border: 1px solid #e8e8e8;
	border-top: none;
}
.introduce .hero-jiesao .hero-orientation{
	height: 108px;
	background-color: #ffffff;
	border-radius: 10px;
}
.introduce .hero-jiesao .hero-orientation .synthesize{
	width: 80px;
	height: 100%;
	background-color: #2c88e2;
	float: left;
	overflow: hidden;
	border-radius: 10px 0 0 10px;
}
.introduce .hero-jiesao .hero-orientation .synthesize li{
	width: 100%;
	height: 54px;
	text-align: center;
	line-height: 54px;
	color: #e8f0fd;
	font-size: 18px;
}
.introduce .hero-jiesao .hero-orientation .search{
	width: 1043px;
	height: 100%;
	padding-left: 15px;
	float: left;
	overflow: hidden;
	border-radius: 0 10px 0 0;
}
.introduce .hero-jiesao .hero-orientation .search .orientation{
	width: 1058px;
	height: 54px;
	line-height: 54px;
}

.introduce .hero-jiesao .hero-orientation .search .position{
	float: left;
	height: 54px;
	line-height: 54px;
}
.introduce .hero-jiesao .hero-orientation .search .orientation span{
	font-size: 14px;
	color: #767677;
	margin-left: 10px;
	margin-right: 25px;
}
.introduce .hero-jiesao .hero-orientation .search .position span{
	font-size: 14px;
	color: #767677;
	margin-left: 10px;
	margin-right: 48px;
}
.introduce .hero-jiesao .hero-orientation .search  input{
	width: 20px;
	height: 20px;
}
.introduce .hero-jiesao .hero-orientation .search .search-hero{
	height: 45px;
	line-height: 45px;
	width: 242px;
	float: left;
	border: 1px solid #d5d5d5;
	margin-right: 24px;
}
.introduce .hero-jiesao .hero-orientation .search .search-hero input{
	height: 42px;
	width: 185px;
	border: none;
	padding-left: 14px;
	font-size: 12px;
	float: left;
	color: #a0a6b1;
}
.introduce .hero-jiesao .hero-orientation .search .search-hero .searchj{
	width: 22px;
	height: 22px;
	margin-top: 10px;
	padding-left: 14px;
	background: url(images/vl_search_icon.png) no-repeat 12px center;
	display: inline-block;
	float: left;
}
.introduce .hero-jiesao .hero-particular{
	padding-top: 70px;
	height: 1269px;
}
.introduce .hero-jiesao .hero-particular li{
	width: 83px;
	display: inline-block;
	height: 83px;
	float: left;
	margin-right: 30px;
	margin-bottom: 35px;
	text-align: center;
	margin-bottom: 55px;
}
.introduce .hero-jiesao .hero-particular li a:hover{
	color: #ff4e00;
}
.introduce .hero-jiesao .hero-particular li img{
	
	border: 2px solid #258df2;
	border-radius: 10px 0 10px 0;
	vertical-align: bottom;
	width: 100%;
    height: auto;


}
.introduce .hero-jiesao .hero-particular li:nth-child(10n){
	float: right;
}
.food{
	background: url(images/bg_footer.jpg) no-repeat center top;
}
.food .tenxun{
	height: 59px;
	padding-top: 90px;
	padding-bottom: 10px;
	border-bottom: 3px solid #d4d4d4;
}
.food .tenxun a{
	display: block;
	height: 59px;
	width: 355px;
	background: url(images/spr.png) no-repeat center top;
	background-position: 0 0;
}
.foond{
	height: 200px;
}
.foond .reminder{
	margin-top: 20px;
	height: 105px;
	width: 505px;
	margin-right: 45px;
	float: left;
}
.foond .provenance{
	margin-top: 35px;
	height: 100px;
	width: 650px;
	float: left;
}
.foond .reminder dl{
	font-size: 12px;
	color: #6d6d6d;
	height: 52px;
}
.foond .reminder dl dt{
	font-weight: bold;
	color: #333333;
}
.foond .reminder dl dd{
	float: left;
	margin-right: 12px;
	line-height: 21px;
}
.foond .reminder div{
	margin-top: 19px;
	font-size: 12px;
	color: #6d6d6d;

}
.foond .provenance .provenance-top{
	height: 12px;
	display:block;
}
.foond .provenance .provenance-top li{
		float: left;	
}
.foond .provenance .provenance-top li a{
	color: #7b7284;
	display: inline-block;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	border-right: 1px solid #91496f;
	padding-right: 4px;
	padding-left: 4px;
}
.foond .provenance .provenance-top li:last-child a{
	border: none;
}
.foond .provenance .provenance-bom {
	margin-top: 15px;
	height: 70px;
	display: block;
}
.foond .provenance .provenance-bom span{
	float: right;
}
.foond .provenance .provenance-bom li{
	color: #646467;
	font-size: 12px;
	height: 17px;
	line-height: 21px;
}

.foond .provenance .provenance-bom li a{
	color: #646467;
	font-size: 12px;
}