body {
  background-color: #2d2d2d;
}
header {
  padding-top: 85PX;
  padding-bottom: 100px;
}
header .container {
  height: 800px;
}
header .container .row div {
  text-align: center;
}
header .container .row div.left {
  color: white;
  text-align: center;
}
header .container .row div.left h3 {
  font-size: 46px;
  line-height: 54px;
  font-family: inherit;
  letter-spacing: -1px;
  margin-bottom: 45px;
  font-weight: 300;
  opacity: 0;
}
header .container .row div.left p {
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 55px;
  color: #dadada;
  font-size: 22px;
  line-height: 30px;
  opacity: 0;
}
header .container .row div.left div {
  position: relative;
  opacity: 0;
  top: 50px;
}
header .container .row div.left div button {
  display: inline-block;
  height: 55px;
  line-height: 50px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 100px;
  padding: 0 36px;
  background-color: transparent;
  border: 1px solid #ffcd05;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s ease;
  text-align: center;
}
header .container .row div.left div button:hover {
  background-color: #ffcd05;
  color: #2d2d2d;
}
header .container .row div.right {
  overflow: hidden;
}
header .container .row div.right img {
  display: block;
  height: 800px;
  margin: auto;
  max-width: 2000px;
}
.banner {
  padding: 200px 0 40px 0;
}
.banner .container .row {
  margin-bottom: 80px;
  padding-bottom: 55px;
}
.banner .container .row div img {
  display: block;
  opacity: 0;
}
.banner .container .row div h4 {
  text-align: center;
  color: #fff;
  padding: 35px 0 10px 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 300;
  opacity: 0;
}
.banner1 {
  overflow: hidden;
  padding: 75px 0 100px 0;
}
.banner1 .container .row div {
  opacity: 0;
}
.banner1 .container .row div.left1 {
  position: relative;
  left: -600px;
}
.banner1 .container .row div.right1 {
  position: relative;
  right: -600px;
}
.banner1 .container .row div img {
  display: block;
}
.banner1 .container .row div h4 {
  text-align: center;
  color: #fff;
  padding: 35px 0 10px 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 300;
}
.banner2 {
  overflow: hidden;
  padding: 0 0 50px 0;
}
.banner2 .container .row div {
  text-align: center;
}
.banner2 .container .row div h4 {
  font-size: 33px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  line-height: 54px;
  margin-bottom: 75px;
  opacity: 0;
}
.banner2 .container .row div.butt {
  opacity: 0;
  position: relative;
  top: 50px;
}
.banner2 .container .row div button {
  display: inline-block;
  height: 55px;
  line-height: 50px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 100px;
  padding: 0 36px;
  background-color: transparent;
  border: 1px solid #ffcd05;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s ease;
  text-align: center;
}
.banner2 .container .row div button:hover {
  background-color: #ffcd05;
  color: #2d2d2d;
}
footer {
  padding: 40px 0;
}
footer .container .row .sma {
  text-align: center;
}
footer .container .row .sma li {
  display: inline-block;
  padding: 0 5px;
}
footer .container .row .sma li i {
  color: #5a5a5a;
  width: 20px;
  height: 20px;
}
footer .container .row .sma li i:hover {
  color: #444444;
}
@media (max-width: 1170px) {
  header .container {
    width: 100%;
  }
}
@media (max-width: 992px) {
  header .container {
    width: 750px;
  }
  header .container .row div.right img {
    height: 500px;
  }
}
@media (max-width: 768px) {
  header {
    padding-top: 40px;
    padding-bottom: 0;
  }
  header .container {
    width: 100%;
  }
  header .container .row div.left {
    margin-top: 0 !important;
    width: 100%;
  }
  header .container .row div.left h3 {
    margin-top: 0 !important;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 40px;
  }
  header .container .row div.left p {
    margin-bottom: 20px;
  }
  header .container .row div.left div {
    padding: 0 0 40px 0;
  }
  header .container .row div.left div button {
    height: 31px;
    line-height: 28px;
    font-size: 10px;
    padding: 0 20px;
  }
  header .container .row div.right {
    width: 100%;
  }
  .banner {
    padding-top: 0;
  }
}
